apiVersion: v1
kind: Service
metadata:
  labels:
    app: open-webui-deployment
  name: open-webui-service
  namespace: open-webui
spec:
  ports:
    - port: 8080
  selector:
    app: open-webui
